.flex {
  display: flex;
  gap: 4rem;
}

.col {
  flex: 1;
}

.text-gradient {
  background: var(--gradient--bottom);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-transition {
  transition: none !important;
}